<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://13.57.183.77/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-13-57-183-77.us-west-1.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>OnlineStoreProjectWinter2017</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OnlineStoreConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=EC2AMAZ-BI5BO3F;Initial Catalog=C:\inetpub\wwwroot\OnlineStoreProjectWinter2017\App_Data\OnlineStore.mdf;User ID=ngameuser;Password=nGame5431%" Name="Server=EC2AMAZ-BI5BO3F;Database=C:\inetpub\wwwroot\OnlineStoreProjectWinter2017\App_Data\OnlineStore.mdf;User Id=ngameuser;Password=nGame5431%;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\inetpub\wwwroot\OnlineStoreProjectWinter2017\App_Data\OnlineStore.mdf;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OnlineStoreConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\inetpub\wwwroot\OnlineStoreProjectWinter2017\App_Data\OnlineStore.mdf;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OnlineStoreConnectionString-Web.config Connection String">
      <ParameterValue>Server=EC2AMAZ-BI5BO3F;Database=C:\inetpub\wwwroot\OnlineStoreProjectWinter2017\App_Data\OnlineStore.mdf;User Id=ngameuser;Password=nGame5431%;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>